# Dependencies
node_modules
.pnpm-store

# Build output
.next
out

# Testing
coverage
playwright-report
test-results

# Environment variables
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Misc
README.md
